:root{
    --primary-color: #44a9d5;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --primary-hover-color: #ed5c3f;

    --header-height: 120px;
    --navbar-height: 33px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    /* HACK 1 rem = 10px  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Reponsive */

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/*Test  */

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}


.grid__column-30{
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
    display: block;
    
}

    /* Animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform:scale(var(--growth-from)) ;
    }
    to{
        transform:scale(var(--growth-to)) ;
    }
}

.modal{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}

/* .modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
} */

.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* button style */

.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;

}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.07);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* . . class phai co ca 2 class */
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* select input */
.select-input{
    position: relative;
    height: 34px;
    min-width: 200px;
    padding: 0 12px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input .select-input__list::before{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    background-color: transparent;
    top: -1%;
}

/* Pagination */

.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination-item{
    margin: 0 14px;
}

.pagination-item__link{
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--text-color);
    min-width: 30px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 50%;
    background-color: #f3f5f7;

}

.pagination-item__icon{
    font-size: 1rem;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color); 
}

.pagination-item__link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* search */

.search{
    
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    height: 34px;
    border: 1px solid #e5e5e5;
    align-items: center;
    border-radius: 4px;
}

.search__input{
    outline: none;
    border: none;
    flex: 1;
    font-size: 1.3rem;
}

.search-with-icon{
    margin-right: 10px;
}
.search__icon{
    font-size: 1.5rem;
}
